<div class="col-md-8 col-md-offset-2" id="message-input-container">
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div class="form-group">
            <label for="content">Enter a Message:</label>
            <input
                    name="content"
                    type="text"
                    id="content"
                    class="form-control"
                    required="required"
                    [ngModel]="message?.content">
        </div>
        <button class="btn btn-danger" type="button" (click)="onClear(f)">Clear</button>
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Save</button>
    </form>
</div>