#message-input-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    box-shadow: 0 -5px 5px #e2e2e2;

    background-color: white;
}
form {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
}